body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #fafafa;
}

.navbar {
  background: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* HOME BLOG CARD */
.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.postCard {
  display: flex;
  background: white;
  margin-bottom: 25px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.postCard img {
  width: 260px;
  object-fit: cover;
}

.postContent {
  padding: 20px;
}

.postDesc {
  color: #555;
}

.postMeta {
  font-size: 14px;
  color: gray;
  display: flex;
  gap: 15px;
  margin: 10px 0;
}

.readBtn {
  text-decoration: none;
  color: #1a8917;
  font-weight: 600;
}

/* SINGLE BLOG */
.singleContainer {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.singleImg {
  width: 100%;
  border-radius: 8px;
}

.singleMeta {
  color: gray;
  margin: 10px 0;
}

.singleContent {
  font-size: 18px;
  line-height: 1.7;
}

/* WRITE PAGE */
.writeContainer {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.writeContainer input,
.writeContainer textarea {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
}

.previewImg {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

button {
  background: #1a8917;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
